@model SSP.Vehicles.Web.Models.Vehicle

<form asp-controller="vehicles" asp-action="Create" method="post">
    <input asp-for="Year" placeholder="Ano" /> 
    <input asp-for="Automaker" placeholder="Marca" />
    <input asp-for="Price" placeholder="55.000"/>
    <input asp-for="VehicleStatusId" placeholder="1" />
    <input asp-for="FipeCode" placeholder="023065-0" />
    <input asp-for="FipeFuel" placeholder="Gasolina" />
    <input asp-for="FipeModel" placeholder="Carro" />
    <input asp-for="Color" placeholder="Cor" />
   
    <button type="submit">Cadastrar</button>

</form>